<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
		<title>Quem somos</title>
	</head>
	<body background="static/img/fundo2.png">
		<div class="corpo">
			<header>
				<div>
					<img src="static/img/logo.png" alt="unes universidade" />
				</div>
				<nav>
					<ul>
						<li><a href="{{ url_for('index') }}">Home</a></li>
						<li><a href="{{ url_for('info') }}">Quem somos</a></li>
						<li><a href="{{ url_for('contact') }}">Contato</a></li>
					</ul>
				</nav>
			</header>
			<div>
				<div>
					<h2>Entre em contato</h2>
					<p>
						Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui, sed
						pariatur tempora repellat aspernatur mollitia?
					</p>
				</div>
				<div style="border-top: 1px solid lightgrey; padding-top: 10px">
					<form action="">
						<label for="email">E-mail:</label>
						<input type="text" id="email" />
						<label for="matter">Assunto:</label>
						<input type="text" id="matter" />
						<label for="description">Descrição:</label>
						<textarea
							name="description"
							id="description"
							cols="14"
							rows="2"
						></textarea>
						<button type="submit">Enviar</button>
					</form>
				</div>
			</div>
			<footer><h4>Todos os direitos reservados</h4></footer>
		</div>
	</body>
</html>
