<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
		<title>Quem somos</title>
	</head>
	<body background="static/img/fundo2.png">
		<div class="corpo">
			<header>
				<div>
					<img src="static/img/logo.png" alt="unes universidade" />
				</div>
				<nav>
					<ul>
						<li><a href="{{ url_for('index') }}">Home</a></li>
						<li><a href="{{ url_for('info') }}">Quem somos</a></li>
						<li><a href="{{ url_for('contact') }}">Contato</a></li>
					</ul>
				</nav>
			</header>
			<div>
				<div>
					<h2>Quem somos</h2>
					<p>
						Lorem <strong>ipsum dolor</strong> , sit amet consectetur
						adipisicing elit. Quisquam cupiditate, earum excepturi adipisci quo
						sequi architecto est, non maiores tempora magni velit omnis
						doloremque temporibus et consectetur laudantium dicta. Delectus.
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
						molestiae hic, consequuntur asperiores officia ad, sed officiis
						distinctio aperiam voluptates accusamus provident obcaecati quis,
						ipsa ipsum iusto explicabo assumenda earum?
					</p>
				</div>
				<div>
					<h2>5 motivos para estudar</h2>
					<ol>
						<li>Material sempre atualizado</li>
						<li>Tablets em sala de aula</li>
						<li>Professores renomados</li>
						<li>Universidade bem avaliada</li>
						<li>Ótima localização</li>
					</ol>
				</div>
				<div style="border-top: 1px solid lightgrey">
					<h2>Objetivos</h2>
					<p>
						Lorem <strong>ipsum dolor</strong> sit amet, consectetur adipisicing
						elit. Quod deleniti atque tempore necessitatibus dolor dolorum ipsum
						magni iure doloremque? Fuga tenetur, voluptatem sed assumenda a
						dolorem reprehenderit corporis impedit dolores? Blanditiis earum aut
						corrupti voluptas inventore eius incidunt laudantium quos non eos,
						quidem quia voluptatibus dolores a, consequuntur numquam dolorem
						autem eaque ea nihil minima in. Dolore placeat odio eveniet.
					</p>
				</div>
			</div>
			<footer><h4>Todos os direitos reservados</h4></footer>
		</div>
	</body>
</html>
